___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
salaries_df=pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
salaries_df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
salaries_df['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
salaries_df['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [7]:
salaries_df[salaries_df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [8]:
salaries_df[salaries_df['EmployeeName']=='JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [14]:
salaries_df[salaries_df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [18]:
salaries_df[salaries_df['TotalPayBenefits']==max(salaries_df['TotalPayBenefits'])]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [17]:
salaries_df[salaries_df['TotalPayBenefits']==min(salaries_df['TotalPayBenefits'])]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [20]:
print(salaries_df['Year'].unique())

[2011 2012 2013 2014]

In [22]:
salaries_df.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [23]:
salaries_df['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [18]:
salaries_df['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [31]:
# salaries_df.groupby('Year')['JobTitle'].value_counts()
sum(salaries_df[salaries_df['Year']==2013]['JobTitle'].value_counts()==1)

202

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [180]:
# class Cheif_count:
#         count=0
#         def init(self):
#             self.count=0
#         def count1(x,count):
#             #     print(x.split())
#             li=x.lower().split()
#             #     print(li)
#             print(';hello ',count)
#             ind=-1
#             try:
#                 ind=li.index('chief')
#                 #         print(ind)
#                 if ind>=0:
#                     self.count=self.count+1 
#                     print('hi ',count)
#                 #             print(count)
#             except ValueError:
#                 pass
#             try:
#                 ind1=-1
#                 ind1=li.index('chief,')        
#                 if ind1>=0:
#                     self.count=self.count+1
#             except ValueError:
#                 pass
#             return count
obj=Cheif_count()

In [190]:
count=0
# salaries_df['JobTitle'].apply(lambda x: count1(x,obj.count))
for x in salaries_df['JobTitle']:
    li=x.lower().split()
    #     print(li)
    ind=-1
    try:
        ind=li.index('chief')
        if ind>=0:
            count=count+1
#             print('hi ',count)
    except ValueError:
        pass
#     try:
#         ind1=-1
#         ind1=li.index('chief,')        
#         if ind1>=0:
#             count=count+1
#             print('hi ',count)
#     except ValueError:
#         pass

hi  1
hi  2
hi  3
hi  4
hi  5
hi  6
hi  7
hi  8
hi  9
hi  10
hi  11
hi  12
hi  13
hi  14
hi  15
hi  16
hi  17
hi  18
hi  19
hi  20
hi  21
hi  22
hi  23
hi  24
hi  25
hi  26
hi  27
hi  28
hi  29
hi  30
hi  31
hi  32
hi  33
hi  34
hi  35
hi  36
hi  37
hi  38
hi  39
hi  40
hi  41
hi  42
hi  43
hi  44
hi  45
hi  46
hi  47
hi  48
hi  49
hi  50
hi  51
hi  52
hi  53
hi  54
hi  55
hi  56
hi  57
hi  58
hi  59
hi  60
hi  61
hi  62
hi  63
hi  64
hi  65
hi  66
hi  67
hi  68
hi  69
hi  70
hi  71
hi  72
hi  73
hi  74
hi  75
hi  76
hi  77
hi  78
hi  79
hi  80
hi  81
hi  82
hi  83
hi  84
hi  85
hi  86
hi  87
hi  88
hi  89
hi  90
hi  91
hi  92
hi  93
hi  94
hi  95
hi  96
hi  97
hi  98
hi  99
hi  100
hi  101
hi  102
hi  103
hi  104
hi  105
hi  106
hi  107
hi  108
hi  109
hi  110
hi  111
hi  112
hi  113
hi  114
hi  115
hi  116
hi  117
hi  118
hi  119
hi  120
hi  121
hi  122
hi  123
hi  124
hi  125
hi  126
hi  127
hi  128
hi  129
hi  130
hi  131
hi  132
hi  133
hi  134
hi  135
hi  136
hi  137
hi  138
hi  139
hi  140
hi  141
hi  142
hi  143
hi  144
hi  145
hi  146
hi  147
hi  148
hi  149
hi  150
hi  151
hi  152
hi  153
hi  154
hi  155
hi  156
hi  157
hi  158
hi  159
hi  160
hi  161
hi  162
hi  163
hi  164
hi  165
hi  166
hi  167
hi  168
hi  169
hi  170
hi  171
hi  172
hi  173
hi  174
hi  175
hi  176
hi  177
hi  178
hi  179
hi  180
hi  181
hi  182
hi  183
hi  184
hi  185
hi  186
hi  187
hi  188
hi  189
hi  190
hi  191
hi  192
hi  193
hi  194
hi  195
hi  196
hi  197
hi  198
hi  199
hi  200
hi  201
hi  202
hi  203
hi  204
hi  205
hi  206
hi  207
hi  208
hi  209
hi  210
hi  211
hi  212
hi  213
hi  214
hi  215
hi  216
hi  217
hi  218
hi  219
hi  220
hi  221
hi  222
hi  223
hi  224
hi  225
hi  226
hi  227
hi  228
hi  229
hi  230
hi  231
hi  232
hi  233
hi  234
hi  235
hi  236
hi  237
hi  238
hi  239
hi  240
hi  241
hi  242
hi  243
hi  244
hi  245
hi  246
hi  247
hi  248
hi  249
hi  250
hi  251
hi  252
hi  253
hi  254
hi  255
hi  256
hi  257
hi  258
hi  259
hi  260
hi  261
hi  262
hi  263
hi  264
hi  265
hi  266
hi  267
hi  268
hi  269
hi  270
hi  271
hi  272
hi  273
hi  274
hi  275
hi  276
hi  277
hi  278
hi  279
hi  280
hi  281
hi  282
hi  283
hi  284
hi  285
hi  286
hi  287
hi  288
hi  289
hi  290
hi  291
hi  292
hi  293
hi  294
hi  295
hi  296
hi  297
hi  298
hi  299
hi  300
hi  301
hi  302
hi  303
hi  304
hi  305
hi  306
hi  307
hi  308
hi  309
hi  310
hi  311
hi  312
hi  313
hi  314
hi  315
hi  316
hi  317
hi  318
hi  319
hi  320
hi  321
hi  322
hi  323
hi  324
hi  325
hi  326
hi  327
hi  328
hi  329
hi  330
hi  331
hi  332
hi  333
hi  334
hi  335
hi  336
hi  337
hi  338
hi  339
hi  340
hi  341
hi  342
hi  343
hi  344
hi  345
hi  346
hi  347
hi  348
hi  349
hi  350
hi  351
hi  352
hi  353
hi  354
hi  355
hi  356
hi  357
hi  358
hi  359
hi  360
hi  361
hi  362
hi  363
hi  364
hi  365
hi  366
hi  367
hi  368
hi  369
hi  370
hi  371
hi  372
hi  373
hi  374
hi  375
hi  376
hi  377
hi  378
hi  379
hi  380
hi  381
hi  382
hi  383
hi  384
hi  385
hi  386
hi  387
hi  388
hi  389
hi  390
hi  391
hi  392
hi  393
hi  394
hi  395
hi  396
hi  397
hi  398
hi  399
hi  400
hi  401
hi  402
hi  403
hi  404
hi  405
hi  406
hi  407
hi  408
hi  409
hi  410
hi  411
hi  412
hi  413
hi  414
hi  415
hi  416
hi  417
hi  418
hi  419
hi  420
hi  421
hi  422
hi  423
hi  424
hi  425
hi  426
hi  427
hi  428
hi  429
hi  430
hi  431
hi  432
hi  433
hi  434
hi  435
hi  436
hi  437
hi  438
hi  439
hi  440
hi  441
hi  442
hi  443
hi  444
hi  445
hi  446
hi  447
hi  448
hi  449
hi  450
hi  451
hi  452
hi  453
hi  454
hi  455
hi  456
hi  457
hi  458
hi  459
hi  460
hi  461
hi  462
hi  463
hi  464
hi  465
hi  466
hi  467
hi  468
hi  469
hi  470
hi  471
hi  472
hi  473
hi  474
hi  475
hi  476
hi  477

In [191]:
print(count)

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [213]:
salaries_df['title_len']=''
salaries_df['title_len']=salaries_df['JobTitle'].apply(len)
salaries_df['title_len'].head()

0    46
1    31
2    31
3    36
4    44
Name: title_len, dtype: int64

In [214]:
salaries_df.corr()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status,title_len
Id,1.000000,-0.204878,-0.081505,-0.100403,-0.348957,-0.211478,-0.092190,0.968171,NaN,NaN,-0.085332
BasePay,-0.204878,1.000000,0.266740,0.285655,0.918028,0.954494,0.946595,0.033751,NaN,NaN,-0.005059
OvertimePay,-0.081505,0.266740,1.000000,0.316592,0.301207,0.504859,0.467981,0.027887,NaN,NaN,-0.017172
OtherPay,-0.100403,0.285655,0.316592,1.000000,0.233178,0.470496,0.422341,-0.002499,NaN,NaN,-0.042587
Benefits,-0.348957,0.918028,0.301207,0.233178,1.000000,0.884097,0.930140,-0.043136,NaN,NaN,-0.021469
TotalPay,-0.211478,0.954494,0.504859,0.470496,0.884097,1.000000,0.977313,0.032090,NaN,NaN,-0.015356
TotalPayBenefits,-0.092190,0.946595,0.467981,0.422341,0.930140,0.977313,1.000000,0.151947,NaN,NaN,-0.036878
Year,0.968171,0.033751,0.027887,-0.002499,-0.043136,0.032090,0.151947,1.000000,NaN,NaN,-0.088883
Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title_len,-0.085332,-0.005059,-0.017172,-0.042587,-0.021469,-0.015356,-0.036878,-0.088883,NaN,NaN,1.000000

In [215]:
salaries_df.corr().loc[['title_len','TotalPayBenefits'],['title_len','TotalPayBenefits']]

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!